@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Prata&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

a.active hr{
    display: block;

}

*{
    font-family: 'Outfit';
}

.prata-regular {
  font-family: "Prata", serif;
  font-weight: 400;
  font-style: normal;
}

/* ::-webkit-scrollbar{
    display:none
} */


@media(max-width: 640px){
    a.active {
        background-color: #387F39;
        color: white;
    }
}

/* For Webkit Browsers (Chrome, Edge, Safari) */
::-webkit-scrollbar {
    width: 18px;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #555;
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-track {
    background: #222;
  }
  